@import "_variables.scss";

/* Customization */

@import "node_modules/spectre.css/src/spectre.scss";
@import "node_modules/spectre.css/src/spectre-exp.scss";
@import "node_modules/spectre.css/src/spectre-icons.scss";
@import "node_modules/highlight.js/scss/github.scss";

html {
  scroll-behavior: smooth;
}

.docs-content h1 {
  font-size: 1.8rem;
}

.docs-content h2 {
  font-size: 1.4rem;
}

ol {
  list-style: decimal;
}

/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */

body {
  min-height: 100vh;
}

header {
  flex: 0 64px;
  display: flex;
}

body,
.docs-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: 100vh;
}
.docs-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding-top: 3.5rem;
}

.docs-content {
  flex: 1 1 auto;
}

.docs-sidebar {
  padding: 0rem;
}

.off-canvas .off-canvas-toggle {
  font-size: 1rem;
}
.off-canvas .off-canvas-sidebar {
  width: 12rem;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.23);
}
.off-canvas .off-canvas-content {
  padding: 0 !important;
}

.docs-navbar {
  height: 3.5rem;
  display: flex;
  position: fixed;
  z-index: 990;
  background: rgb(251, 251, 251);
  justify-content: space-between;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

.docs-navbar .navbar-left {
  //   background: red;
  width: 12rem;
  display: flex;
}

.docs-navbar .navbar-right {
  //   background: green;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: right;
}

.docs-navbar .btns {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  gap: 0.5rem;
}
.docs-navbar .algolia-autocomplete {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.docs-sidebar {
  display: flex;
  flex-direction: column;
}

.docs-brand {
  color: #5755d9;
  align-self: center;
  padding: 1rem;
  //   height: 2rem;
  //   left: 1.5rem;
  //   position: fixed;
  //   top: 0.85rem;
}

.docs-brand .docs-logo {
  align-items: center;
  border-radius: 0.1rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  font-size: 0.7rem;
  height: 2rem;
  padding: 0.2rem;
  width: auto;
  gap: 0.5rem;
}
.docs-brand .docs-logo:focus,
.docs-brand .docs-logo:hover {
  text-decoration: none;
}
.docs-brand .docs-logo img {
  display: inline-block;
  height: auto;
  width: 1.6rem;
}
.docs-brand .docs-logo .project-name {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 0.8rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: $primary-color;
  border: none;
}

.docs-sidebar .docs-nav {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  //   position: fixed;
  //   top: 3.5rem;
  //   width: 12rem;
}

.docs-sidebar .docs-nav .icon {
  height: 1.2em;
  font-size: 0.8em;
}

.docs-sidebar .accordion {
  margin-bottom: 0.75rem;
}

.docs-sidebar .accordion .accordion {
  padding: 0.2rem 0;
}

/* Only first Titles */
.docs-sidebar
  .docs-nav
  > .accordion-container
  > .accordion
  > input
  ~ .accordion-header {
  color: #455060;
  font-size: 0.65rem;
  font-weight: 600;
  text-transform: uppercase;
}

.docs-sidebar .accordion input:checked ~ .accordion-header {
  color: #505c6e;
}

.accordion .accordion-body {
  margin-bottom: 0;
  padding-bottom: 0;
}

.docs-sidebar .docs-nav > .menu-item {
  margin: 0;
  list-style-type: none;
  padding: 0.8rem 1rem;
  font-size: 0.7rem;
}
.accordion .accordion {
  margin-bottom: 0;
}

.docs-sidebar .accordion .menu .menu-item {
  font-size: 0.7rem;
  padding-left: 3ch;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.docs-sidebar .accordion .menu .menu-item > a,
.docs-sidebar .docs-nav > .menu-item > a {
  background: 0 0;
  color: #66758c;
  display: inline-block;
  padding: 0.1rem 0.1rem;
}

.docs-sidebar .accordion-body input ~ .accordion-header {
  background: 0 0;
  color: #66758c;
  display: inline-block;
  font-size: 0.7rem;
  padding-left: 5px;
}

.content-container {
  padding: 0;
  width: calc(100vw - 12rem);
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
  display: flex;
}

.docs-wrapper {
  display: flex;
  overflow: auto;
}
.docs-content {
  flex-grow: 1;
  padding-right: 4rem;
  padding-left: 4rem;
}

.docs-toc {
  padding: 1rem;
  max-width: 20%;
  padding: 0.5rem;
  position: sticky;
  align-self: flex-start;
  overflow-y: auto;
  top: 90px;
  //   min-height: calc(100vh - 6rem);
  max-height: calc(100vh - 5rem);
  border-left: 1px solid #e0e0e0;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.docs-toc a {
  margin-bottom: 0.2rem;
  color: #949494;
}
.docs-toc-title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;

  //   font-weight: bold;
}
.docs-toc a.toc-h1 {
  //
  //   font-weight: bold;
}
.docs-toc a.toc-h2 {
  margin-left: 0.5rem;
  //   font-size: 100%;
}
.docs-toc a.toc-h3 {
  margin-left: 1rem;
  //   font-size: 90%;
}
.docs-toc a.toc-h4 {
  margin-left: 1.5rem;
  //   font-size: 90%;
}
.docs-toc a.toc-h5 {
  margin-left: 2rem;
  //   font-size: 85%;
}
.docs-toc a.toc-h6 {
  margin-left: 2.5rem;
  //   font-size: 85%;
}

.docs-content img {
  max-width: 50%;
  height: auto;
  //   margin: 2rem auto;
  //   display: block;
  border-radius: 4px;
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  padding: 0.1rem 0.1rem;
}

.docs-content > .container {
  margin-left: 0;
  max-width: 800px;
  padding-bottom: 1.5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .docs-content h2,
  .docs-content h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 3.8rem;

    // z-index: 99;
  }
  .docs-content h2::before,
  .docs-content h1::before {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: -10px;
    position: absolute;
    right: -10px;
    top: -5px;
    z-index: -1;
  }
}
.docs-content h2:hover .anchor,
.docs-content h1:hover .anchor {
  display: inline;
}
.docs-content h2 + .docs-note,
.docs-content h1 + .docs-note {
  margin-top: 0.4rem;
}
.docs-content .docs-demo {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.docs-content .docs-demo .card {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: 100%;
}
.docs-content .column {
  padding: 0.4rem;
}
.docs-content .docs-block {
  border-radius: 0.1rem;
  padding: 0.4rem;
}
.docs-content .docs-block.bg-gray {
  background: #eef0f3;
}
.docs-content .docs-shape {
  height: 4.8rem;
  line-height: 1.2rem;
  padding: 1.8rem 0;
  width: 4.8rem;
}
.docs-content .docs-dot {
  border-radius: 50%;
  display: inline-block;
  height: 0.5rem;
  padding: 0;
  width: 0.5rem;
}
.docs-content .docs-table td,
.docs-content .docs-table th {
  padding: 0.75rem 0.25rem;
}
.docs-content .docs-color {
  border-radius: 0.1rem;
  margin: 0.25rem 0;
  padding: 5rem 0.5rem 0.5rem;
}
.docs-content .docs-color .color-subtitle {
  font-size: 0.7rem;
  opacity: 0.75;
}

.docs-content .c-select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.docs-content .panel {
  height: 75vh;
}
.docs-content .panel .tile {
  margin: 0.75rem 0;
}
.docs-content .parallax {
  margin: 2rem auto;
}
.docs-content .form-autocomplete .menu {
  position: static;
}
.docs-content .example-tile-icon {
  align-content: space-around;
  align-items: center;
  background: #5755d9;
  border-radius: 0.1rem;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-line-pack: distribute;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
}
.docs-content .example-tile-icon .icon {
  margin: auto;
}

.docs-content .comparison-slider {
  height: auto;
  padding-bottom: 56.2222%;
}
.docs-content .comparison-slider .filter-grayscale {
  filter: grayscale(75%);
}
.docs-content .off-canvas {
  position: relative;
}
.docs-navbar .off-canvas-toggle {
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  z-index: 1;
  display: none;
}

.docs-footer {
  color: #bcc3ce;
  padding: 0.5rem;
}
.docs-footer a {
  color: #66758c;
}

.section-hero {
  padding: 1rem 0.5rem;
}
.section-hero .docs-brand {
  position: absolute;
  top: 0.85rem;
}
.section-hero .docs-brand h2 {
  color: #5755d9;
}
.section-hero .column {
  padding: 0.4rem;
}
.section-ads {
  padding: 1rem 0.5rem;
}
.section-updates {
  padding: 4.5rem 0.5rem 2.5rem 0.5rem;
}
.section-updates .card {
  border: 0;
  margin-bottom: 1rem;
}
.section-features {
  padding: 4.5rem 0.5rem;
}
.section-features .column {
  padding: 0.4rem;
}
.section-footer {
  color: #bcc3ce;
  padding: 1.8rem 0.75rem 1rem;
  position: relative;
  z-index: 200;
}
.section-footer a {
  color: #66758c;
}
.grid-hero {
  padding-bottom: 2rem;
  padding-top: 6rem;
}
.grid-hero h1 {
  color: #3b4351;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.grid-hero h2 {
  color: #455060;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.grid-hero h2 u {
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.05rem;
  text-decoration: none;
}
.grid-hero .card {
  background: 0 0;
  border: 0;
  color: #5b687d;
  padding: 0.5rem;
}
.grid-hero .card .card-title {
  color: #5755d9;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .off-canvas .off-canvas-toggle {
    z-index: 300;
  }
  .off-canvas .off-canvas-content {
    width: 100%;
  }
  .docs-brand {
    display: none;
  }
  .docs-sidebar .docs-nav {
    margin-top: 1rem;
    position: static;
  }
  .docs-sidebar .menu .menu-item a {
    padding: 0.4rem 0.4rem;
  }
  .docs-navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgb(251, 251, 251);
    left: 3rem;
  }
  .content-container {
    min-width: auto;
    width: 100%;
  }

  .docs-content {
    min-width: auto;
    padding: 0 1.5rem;
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .docs-content h2,
  .docs-content h1 {
    padding-top: 3rem;
    position: static;
  }
  .docs-content h2::before,
  .docs-content h1::before {
    content: none;
  }
  .section-hero .s-brand {
    height: 5rem;
    padding: 1.5rem 0.5rem;
    text-align: center;
    width: 100%;
  }
  .section-hero .s-brand .s-logo {
    height: auto;
  }
  .section-hero .s-brand img {
    height: 3.2rem;
    width: 3.2rem;
  }
  .section-hero .s-brand h2 {
    display: none;
  }

  .docs-toc {
    display: none;
  }

  .docs-content img {
    max-width: 100%;
  }
}

.menu .menu-item + .menu-item {
  margin-top: 0 !important;
}
.menu.menu-nav {
  padding: 0 0.4rem;
}

li.task-list-item {
  list-style-type: none;
}

// This could be MUCH better
.header-anchor {
  font-size: 0.8em;
  //   vertical-align: middle;
  color: rgb(190, 186, 186);
  opacity: 0;
  //   position: absolute;
  //   left: -10px;
  //   padding: 0 1ch;
  //   bottom: 0;
  //   padding-right: 4px;
  //   margin-left: -10px;
}

.header-anchor:visited {
  color: rgb(190, 186, 186);
}

.header-anchor:hover {
  opacity: 1;
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}

[type="checkbox"],
[type="radio"] {
  vertical-align: middle;
  margin-right: 1ch;
}

pre.hljs code {
  background: unset;
  padding: 0;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
  color: #24292e;
}

pre.hljs {
  padding: 2.2em 1.4rem;
  position: relative;
}

.language-caption {
  position: absolute;
  top: 6px;
  font-size: 0.6rem;
  right: 10px;
  color: #868680;
}

blockquote {
  border-left: 0.2rem solid darken($color: $warning-color, $amount: 35);
  background-color: $warning-color;
  border-radius: 0.1rem;
  margin: 0%;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 0.7rem;
}

/* Table styles */

table {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

img.emoji {
  all: unset;
  height: 1.2em;
}

/* Language Selector */

.docs-navbar .popover .popover-container {
  width: 170px !important;
  transition: 0s all 0.2s;
}

.docs-navbar .language-selector {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 2px;
}

.docs-navbar .language-selector a {
  display: flex;
  column-gap: 0.4rem;
  padding: 0.25rem 0.5rem;
}

.docs-navbar .language-selector a:hover {
  background-color: $primary-color;
  color: #fff !important;
}

.docs-navbar .popover.popover-left .popover-container {
  left: 0;
  bottom: 100% !important;
  top: 0 !important;
}

.docs-navbar .docs-search-dropdown-menu {
  position: absolute;
  max-height: 75vh;
  overflow: auto;
  z-index: 100;
  display: none;
  right: 0;
  background-color: #f7f8f9;
  //   min-height: 200px;
  min-width: 50vw;
  margin-top: 0.5rem;
  -webkit-transition: opacity 0.5s 0s ease;
  -moz-transition: opacity 0.5s 0s ease;
  -o-transition: opacity 0.5s 0s ease;
  transition: opacity 0.5s 0s ease;
  -webkit-box-shadow: -13px 13px 12px -10px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -13px 13px 12px -10px rgba(0, 0, 0, 0.54);
  box-shadow: -13px 13px 12px -10px rgba(0, 0, 0, 0.54);
  border: 1px solid #f7dcdc45;
  border-radius: 5px;
}
/* As searchbox styles get added at runtime we need to speify purgecss to not purge them. */

/*! purgecss start ignore */

.docs-search-container {
  padding: 0 0.5rem;
}

.docs-search-dropdown-menu a {
  all: unset;
  cursor: pointer;
}

.docs-search-dropdown-menu .search-result {
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid #2222;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.docs-search-dropdown-menu .search-result:hover {
  color: $primary-color;
  //   cursor: pointer;
  background-color: lighten($color: $primary-color, $amount: 90);
}

.docs-search-dropdown-menu .search-result-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.docs-search-dropdown-menu .search-result-url {
}

.docs-search-dropdown-menu .search-result-text {
  font-size: 0.6rem;
}

.docs-search-dropdown-menu .search-result-keyword {
  font-weight: bold;
  color: $primary-color;
}

/*! purgecss end ignore */

@media (max-width: 600px) {
  .grid-hero h2 {
    font-size: 0.9rem;
  }
  .grid-hero .card {
    padding: 0;
  }
  .off-canvas .off-canvas-toggle {
    left: 0.5rem;
  }
  .docs-navbar .btns {
    right: 0.9rem;
  }
  .grid-hero .docs-brand {
    left: 0.9rem;
  }
  .docs-sidebar .docs-brand {
    margin: 0.85rem 1rem;
  }
  .docs-sidebar .docs-nav {
    padding: 0.5rem 1rem;
  }
  .docs-content {
    padding: 0 2rem;
  }
  .docs-content .docs-block {
    padding: 0.4rem 0.1rem;
  }

  .docs-navbar .docs-search-dropdown-menu {
    min-width: calc(100vw - 2rem);
  }

  .docs-navbar .navbar-left {
    display: none;
  }
}
@media (min-width: 1366px) {
  .docs-ad.docs-ad-sidebar {
    bottom: 1rem;
    margin: 0;
    position: fixed;
    right: 1rem;
    width: 7.3rem;
  }
}

@media (max-width: 1366px) {
  //   .docs-content {
  //     margin-left: 2rem;
  //     margin-right: 2rem;
  //   }
}
