@import "_variables.scss";
// CSS for landing page

.cover {
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.cover::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.6;
  background-image: url("http://placekitten.com/1500/1000");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("/img/bg.jpg");
}

.cover main {
  height: 100%;
}

.cover main.cover-content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.cover main img {
  width: 30%;
}

.cover p {
  margin: 0 !important;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  text-align: center;
}

.cover h1 {
  font-size: 2.5rem !important;
}

.cover blockquote {
  font-size: 1.1rem;
  text-align: center;
  border: none !important;
  margin: 0;
}

.cover ol {
  list-style-type: none !important;
  text-align: center;
}

.cover ul {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  list-style-type: none !important;
}

.cover ul li {
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.35rem 0.6rem;
  background: $primary-color;
  border-color: $primary-color;
  color: #fff;
  border-radius: 0.1rem;
  cursor: pointer;
}

.cover ul li a {
  color: inherit;
}

.cover h5 {
  font-size: 30vmin !important;
  margin: 0 !important;
  line-height: 1 !important;
}

.cover a:visited {
  color: inherit !important;
}

.cover a:link {
  text-decoration: none;
}

.cover a {
  text-decoration: none !important;
  color: inherit;
}

.cover nav {
  align-self: flex-end;
}

.cover .popover .popover-container {
  width: 170px !important;
  transition: 0s all 0.2s;
}

.cover .language-selector a {
  display: flex;
  column-gap: 0.4rem;
  padding: 0.25rem 0.5rem;
}

.cover .language-selector a:hover {
  background-color: $primary-color;
  color: #fff !important;
}

.cover .language-selector {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  background-color: white;
  border-radius: 2px;
}

.cover .popover.popover-left .popover-container {
  left: 0;
  bottom: 100% !important;
  top: 0 !important;
}

/* Remove anchors from homepage */
.header-anchor {
  display: none;
}

/* End of customization, do not edit below. */

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";
