// Define variables to override default ones

/* Override variables and styles below */
/* List of variables: https://picturepan2.github.io/spectre/getting-started/custom.html#variables */

// Core colors

$primary-color: #f88501e1;
$code-color: #525258;
$warning-color: #ffebd5a9;
